@font-face {
	font-family:Ojuju;
	src: url(./font/Ojuju.ttf);
}

button{
	font-family:Ojuju;
	font-size: 1em;
	margin: 1em;
	font-weight: bold;
}

#title{
	margin: 0.16em;
}

body{
	background:#729da6;
	font-family:Ojuju;
}

nav{
	display: flex;
	flex-direction: row;
	gap: 0.625em;
	text-align: center;
	justify-content: center;

}

nav a {
	text-decoration: none;
    color: #DB7777;
    padding: 0.625em 1.25em;
    background-color:#f2e4d8;
    border-radius: 0.3125em;
    font-weight: bold;
    width: auto;
}

nav a:hover {
	color:#a8af7a;
}



#container {width:100%;}
nav{
	display: flex;
	flex-direction: row;

}

h1{
	text-align: center;
	font-family:Ojuju;
	font-weight: 700;
	font-style: normal;
	color:#f2e4d8;
	font-size: 2.5em;
}

h2{
	text-align: center;
	font-family:Ojuju;
	font-weight: 700;
	font-style: normal;
	color:#f2e4d8;
	font-size: 1.5em;
}

#daily-message{
	text-align: center;
	font-family:Ojuju;
	font-weight: 700;
	font-style: normal;
	color:#f2e4d8;
	font-size: 1.25em;
	margin-top: 1.25em;
}

p{
	font-family:Ojuju;
	font-style: normal;
	color:#f2e4d8;
	font-size: 0.9em;

}

main{

	display: grid;
	grid-template-columns: 1fr;
	gap: 0.8%;
	justify-content: center;
	margin: 1.25em;

}

img {
  display: block;
  max-width: 100%;
  height: auto;
}




a.quote:hover {
  opacity: 0.5;
}

.summarywrapper{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	gap: 1.25em;
}

#summarytext{
	margin: 1.875em;
}

#flyer{
	width:50%;
	height: auto;
	margin: 0 auto;

}

.bgwrapper{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	gap: 1.25em;
	margin: 2.5em;
}



.right-align {
	text-align: right;
	margin-top: 0.625em;
}

a.menu{
	text-decoration: none;
    color: #DB7777;
    padding: 0.625em 1.25em;
    background-color:#f2e4d8;
    border-radius: 0.3125em;
    font-weight: bold;
    width:6.25em;

}

a.menu:hover{
	color:#a8af7a;
}

.scenewrapper{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	gap: 1.25em;
	margin: 2.5em;
}



.symbolismwrapper{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	gap: 1.25em;
	margin: 2.5em;
}

.symbolismheader{
	color:#f2e4d8;
	font-size:1.5em;
	font-weight:700;
}



@media (min-width: 1024px){
	h1{
		font-size: 3.75em;
	}
	h2{
		font-size: 2.18em;
	}
	#daily-message{
		font-size: 2em;
	}
	p{
		font-size: 1.125em;
	}
	main{

		display: grid;
		grid-template-columns: minmax(30%, 1fr) minmax(30%, 1fr);
		gap: 0.8%;
		justify-content: center;
		margin: 7%;

	}

	.summarywrapper{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto;
	gap: 1.25em;
	}

	#flyer{
		width: 90%;
		grid-column-start:1;
		grid-column-end:2;
		grid-row-start:1;
		grid-row-end:4;
		margin-top:1.25em ;
		margin-left: 1.875em;
	}

	#summarytext{
		grid-column-start:2;
		grid-column-end:4;
		grid-row-start:1;
		grid-row-end:4;
		margin-right:1.875em;
		margin-left: 0;

	}

	nav{
		gap: 5em;
	}

	.bgwrapper{
	grid-template-columns: repeat(3, 1fr);
	}

	#bgtext{
	grid-column-start:1;
	grid-column-end:4;
	grid-row-start:1;
	grid-row-end:3;
	}

	#bgimage1{
		grid-column-start:1;
		grid-column-end:2;
		grid-row-start:3;
		grid-row-end:4;
	}

	#bgimage2{
		grid-column-start:2;
		grid-column-end:3;
		grid-row-start:3;
		grid-row-end:4;
	}

	#bgimage3{
		grid-column-start:3;
		grid-column-end:4;
		grid-row-start:3;
		grid-row-end:4;
	}

	.scenewrapper{
	grid-template-columns: 1fr 1fr;
	}

	#scenetext{
	grid-column-start:1;
	grid-column-end:3;
	grid-row-start:1;
	grid-row-end:2;
	}

	#sceneimage1{
		grid-column-start:1;
		grid-column-end:2;
		grid-row-start:2;
		grid-row-end:3;
	}

	#sceneimage2{
		grid-column-start:2;
		grid-column-end:3;
		grid-row-start:2;
		grid-row-end:3;
	}

	.symbolismwrapper{
		grid-template-columns: 30% 70%;
	}

	#symbolismimg1{
	grid-column-start:1;
	grid-column-end:2;
	grid-row-start:1;
	grid-row-end:2;

}

#symbolismtext1{
	grid-column-start:2;
	grid-column-end:3;
	grid-row-start:1;
	grid-row-end:2;
}

#symbolismimg2{
	grid-column-start:1;
	grid-column-end:2;
	grid-row-start:2;
	grid-row-end:3;

}

#symbolismtext2{
	grid-column-start:2;
	grid-column-end:3;
	grid-row-start:2;
	grid-row-end:3;
}
.symbolismheader{
	color:#f2e4d8;
	font-size:2.5em;
	font-weight:700;
}

}